node_modules/
build/
.svelte-kit/
src-tauri/target/
src-tauri/gen/android/app/release/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/app/build/
src-tauri/gen/android/build/
keystore.properties
*.keystore
